.articlePerfil{
    width: 100%;
    min-height: 550px;
    /* background: grey; */
    float: left;
}

.divContenedorLeft{
    width: 41%;
    min-height: 550px;
    margin-left: 19%;
    float: left;
}
